footer{
    text-align: center;
    font-family: poppins-regular;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.menu a{
    margin: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.menu{
    padding:30px;
}
.footer-container ul li{
    display: inline-block;
    margin-right: 45px;
}
.footer-container h2{
    padding: 30px 0 10px 0;
}
.footer-container p{
    font-weight: 500;
}